.myToyota_panel_flat .container-fluid {
	margin: 5px 5px 5px 20px !important;
	padding: 0 !important;
}

.myToyota_panel_flat #column,
.myToyota_panel_flat #tile,
.myToyota_panel_flat #row_doors {
	margin: 0 !important;
	padding: 0 !important;
}

.myToyota_panel_flat #titre,
.myToyota_panel_flat #refresh,
.myToyota_panel_flat #picture,
.myToyota_panel_flat #distance,
.myToyota_panel_flat #value_tile,
.myToyota_panel_flat #value_tile_2,
.myToyota_panel_flat #titre_tile_2,
.myToyota_panel_flat #value_doors,
.myToyota_panel_flat #last_update,
.myToyota_panel_flat #titre_graph {
	color: #000000 !important;
}

.myToyota_panel_flat #titre {
	font-size: 14px;
	text-align: center;
}

.myToyota_panel_flat #logo {
	height: 1.5em;
}

.myToyota_panel_flat #tile {
	margin: 5px !important;
	background-color: rgb(var(--bg-color)) !important;
	filter: contrast(100%);
}

.myToyota_panel_flat #picture {
	display: table-cell;
	vertical-align: middle;
}

.myToyota_panel_flat #location {
	padding-top: 20px !important;
}

.myToyota_panel_flat #distance {
	font-size: 10px;
	font-weight: bold;
}

.myToyota_panel_flat .myMap {
	width: 400px;
	height: 240px;
	border: 0;
	filter: grayscale(100%);
}

.myToyota_panel_flat #titre_tile,
.myToyota_panel_flat #text_doors,
.myToyota_panel_flat #soustitre_graph {
	color: var(--txt-color) !important;
}

.myToyota_panel_flat #titre_tile {
	font-size: 14px;
	margin: 0 !important;
	padding-top: 15px !important;
}

.myToyota_panel_flat #icon_tile {
	margin: 0 !important;
	padding-top: 12px !important;
	color: rgb(80,120,170) !important;
}

.myToyota_panel_flat #value_tile {
	font-size: 22px;
	text-align: center;
	margin: 0 !important;
	padding-top: 5px !important;
}

.myToyota_panel_flat #value_tile_2 {
	font-size: 11px;
	margin-top: -5px !important;
	padding: 0 !important;
}

.myToyota_panel_flat #titre_tile_2 {
	font-size: 22px;
	margin: 0 !important;
	padding: 6px 0 0 15px !important;
	text-align: left; 
}

.myToyota_panel_flat #titre_doors {
	font-size: 20px;
	margin: 0 !important;
	padding-top: 11px !important;
	text-align: left; 
}

.myToyota_panel_flat #icon_doors,
.myToyota_panel_flat #text_doors {
	margin: 0 !important;
	padding: 0 !important;
	text-align: right;
}

.myToyota_panel_flat #text_doors {
	font-size: 14px;
	padding-right: 5px !important;
}

.myToyota_panel_flat #value_doors {
	font-size: 14px;
	margin: 0 !important;
	padding-left: 10px !important;
	text-align: left; 
}

.myToyota_panel_flat .btn {
	margin-top: 10px !important;
	width: 35px !important;
	height: 35px !important;
	max-width: 35px !important;
	max-height: 35px !important;
	filter: contrast(125%);
}

.myToyota_panel_flat #liste_msg {
	width: 440px;
	height: 340px;
	overflow: hidden;
}

.myToyota_panel_flat #last_update {
	font-size: 12px;
	text-align: center;
	margin: 10px 0 5px 0 !important;
}

.myToyota_panel_flat #titre_graph {
	font-size: 22px;
	margin: 0 !important;
	padding-left: 20px !important;
	text-align: left; 
}

.myToyota_panel_flat #soustitre_graph {
	font-size: 14px;
	padding-left: 20px !important;
	text-align: left; 
}

.myToyota_panel_flat #table_sessions {
	margin-top: 15px !important;
	width: 665px;
	height: 325px;
	overflow: auto;
}

.myToyota_panel_flat th.myToyota_stat_th,
.myToyota_panel_flat td.myToyota_stat_td {
	border: 1px solid black;
	padding: 4px 6px;
	text-align: center;
	vertical-align: middle;
}
